<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tag Cloud</title>
  <style>
    .tag-container {
      width: 50%;
      padding: 1em;
      box-sizing: border-box;
    }

    .tag-container a {
      display: inline-block;
      margin: 0 0.5em 0.5em 0;
      text-decoration: none;
      color: #0077cc;
      font-size: 1em;
      white-space: nowrap;
    }

    .tag-container a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <h1>Tag Cloud</h1>
  <div class="tag-container">
    {% for tag in tags %}
      <a href="{{ tag.slug }}.html">{{ tag.label }} ({{ tag.count }})</a>
    {% endfor %}
  </div>
</body>
</html>
